
.container {
  transition: background 0.3s, transform 0.3s;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background: linear-gradient(
    90deg,
    rgba(0, 50, 0, 1),
    black,
    rgba(0, 50, 0, 1)
  );
  padding: 20px 0;
  overflow-y: hidden;
  position: relative;
  font-family: "Lucida Console", "Courier New", monospace;
}

.cameraFeedTopLeft {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.title {
  font-weight: bold;
  transition: color 0.3s, text-shadow 0.3s, transform 0.3s;
  font-size: 3rem;
  transform: scale(1.05);
  color: #24cc24;
  margin-bottom: 35px;
  text-shadow: -1px 1px 12px rgba(34, 139, 34, 0.8);
  cursor: pointer;
  z-index: 1;
  font-family: "Lucida Console", "Courier New", monospace;
}

.stars {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: -1;
}

.icon {
  display: inline-block;
  width: 80px;
  height: 80px;
  background-color: #22aa22;
  border-radius: 50%;
  margin-right: 10px;
  transition: transform 0.3s;
  font-family: "Material Symbols Outlined";
  font-size: 24px;
  cursor: pointer;
  color: #22aa22;
  vertical-align: middle;
  opacity: 0.7;
  animation: pulse 2s infinite;
  transform: scale(1.2);
  color: #24cc24;
  opacity: 1;
}

.icon::before {
  content: "Hover to see a surprise!";
  position: absolute;
  bottom: 100%;
  left: 50%;
  width: 100px;
  text-align: center;
  transform: translateX(-50%);
  background-color: #333;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  opacity: 1;
  pointer-events: none;
  transition: opacity 0.3s;
  font-size: 0.8rem;
  margin-bottom: 5px;
}

.icon:hover::before,
.icon.hovered::before {
  opacity: 0; /* Hide tooltip on hover and if it has been hovered before */
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

.icon {
  animation: pulse 2s infinite;
}

@media (max-width: 768px) {
  .title {
    font-size: 2rem;
  }
}

.statisticsTable {
  background-color: #1E1E1E; /* Dark theme background */
  color: #fff; /* Light text for contrast */
  padding: 10px; /* Increased padding for more space */
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.5);
  overflow-x: auto;
  max-width: 90vw; /* Increase the width for a larger table */
  width: auto; /* Allow the table to expand based on content, up to the max width */
  height: auto;
  position: absolute;
  bottom: 10px;
  left: 10px;
  z-index: 2; 
  box-shadow: 0px 0px 80px rgba(200, 100, 255, 1); /* Lighter purple shadow */
}

.statisticsTable h2 {
  font-size: 20px; /* Larger heading font size */
  color: #22aa22; /* Accent color */
  margin-bottom: 10px; /* Slightly more space below the heading */
  text-align: center;
  font-family: "Lucida Console", "Courier New", monospace;
  font-weight: 1000;
}

.statisticsTable table {
  width: 100%;
  border-collapse: collapse;
}

.statisticsTable th, .statisticsTable td {
  text-align: left;
  padding: 8px 12px; /* Larger padding for more space around text */
  border-bottom: 1px solid #2F2F2F; /* Subtle border color */
  font-size: 18px; /* Increased font size for better readability */
  text-align: center;
  font-family: "Lucida Console", "Courier New", monospace;
  font-weight: 1000;
}

.statisticsTable th {
  background-color: #2F2F2F; /* Slightly lighter than the container for depth */
  color: #22aa22; /* Accent color */
  font-family: "Lucida Console", "Courier New", monospace;
}

.statisticsTable tr:hover {
  background-color: #414141; /* Hover effect from the Leaderboard */
}

.statisticsTable td {
  color: #fff; /* Ensure text is readable against the dark background */
  font-family: "Lucida Console", "Courier New", monospace;

}

/* Responsive adjustments */
@media (max-width: 768px) {
  .statisticsTable {
    bottom: 20px; /* Adjust position for better visibility on smaller screens */
    left: 20px;
    width: calc(100% - 40px); /* Ensure it doesn't overflow the screen */
  }

  .statisticsTable table,
  .statisticsTable th,
  .statisticsTable td {
    display: block;
  }

  .statisticsTable th, .statisticsTable td {
    text-align: right;
    padding-left: 50%;
    position: relative;
  }

  .statisticsTable td::before {
    content: attr(data-label);
    position: absolute;
    left: 0;
    width: 50%;
    padding-left: 15px;
    font-weight: bold;
    text-align: left;
    color: #22aa22; /* Match the accent color for labels */
  }

  .statisticsTable th {
    display: none;
  }
}

