.factoidContainer {
  margin-top: 30px;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 25px;
  border: 2px solid #228B22;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s, box-shadow 0.3s;
  display: flex;  /* Added for centering */
  justify-content: center;  /* Horizontal centering */
  align-items: center;  /* Vertical centering */
}

.factoidText {
  font-size: 24px;
  color: #228B22;
  text-align: center;
  transition: color 0.3s;
  display: flex;  /* Added to ensure inline alignment of the BlinkingCursor with the text */
  align-items: center;  /* Vertical centering for the text and cursor */
}

.factoidContainer:hover {
  transform: translateY(-5px);
  box-shadow: 0px 7px 20px rgba(0, 0, 0, 0.25);
}
