.factoidContainer {
  margin-top: 30px;
  padding: 10px 20px;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 15px;
  border: 2px solid #228B22;
  box-shadow: 0px 4px 5px rgba(34, 139, 34, 0.3);
  margin-bottom: 30px;
}

.factoidText {
  display: flex;
  font-size: 24px;
  color: #228B22;
  text-align: center;
}
