.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: #0a0f0b;
  /* padding-top: 50px;
  padding-bottom: 50px; */
  overflow-y: hidden; /* Prevent vertical scrolling */
}

.title {
  font-size: 48px;
  font-weight: bold;
  color: #228b22;
  margin-bottom: 30px;
  text-shadow: -1px 1px 10px rgba(34, 139, 34, 0.75);
}
